# ==================================================
# Dependencies
# ==================================================

/node_modules
/vendor


# ==================================================
# Laravel
# ==================================================

/bootstrap/cache
/storage
/public


# ==================================================
# Build Output
# ==================================================

/build
/dist


# ==================================================
# Environment Files
# ==================================================

.env
.env.*


# ==================================================
# Logs
# ==================================================

*.log
npm-debug.log*
yarn-error.log*
